/* Mobile First Design */

@font-face {
  font-family: 'Nunito';
  src: local(Nunito), url('../assets/fonts/Nunito.ttf') format('truetype');
  font-display: swap;
}

:root {
  --primary: #252584;
  --secondary: #17a2b8;
  --light: #ffffff;
  --dark: #afafc9;
  --font-family-sans-serif: Nunito, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- Header ---------- */
.header .col {
  padding-left: 0;
  padding-right: 0;
}

/* Navbar */
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.5rem 1rem;
}

@media (min-width: 992px) {
  .navbar {
    position: relative;
    background-color: var(--primary) !important;
  }
}

.navbar .container {
  position: relative;
  padding: 0px 18px;
}

@media (min-width: 992px) {
  .navbar .container {
    margin: 0 100px;
  }
}

.navbar-brand {
  margin-right: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .navbar-brand img {
    width: 45px;
  }
}

/* Burger menu */
.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler span {
  background-color: var(--light);
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-toggler span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-toggler span:nth-child(3) {
  top: calc(50% + 4px);
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: relative;
  }
}

.navbar .nav-link {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light) !important;
}

@media (min-width: 768px) {
  .navbar .nav-link {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

@media (min-width: 992px) {
  .navbar .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--secondary) !important;
}

.search-form {
  display: none;
}

@media (min-width: 992px) {
  .search-form {
    display: block;
    position: absolute;
    right: 0;
  }
}

.search-input {
  background-color: transparent;
  border: none;
  padding: 5px 25px 5px 0;
  cursor: default;
  z-index: 1;
  color: var(--primary);
  position: relative;
}

.search-input:focus {
  background-color: transparent;
  border-bottom: 1px solid var(--light);
  border-radius: 0;
  box-shadow: none;
  color: var(--light);
  cursor: auto;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 13px;
}

.jumbotron {
  background-image: url('../assets/images/banner-rounded-001.svg');
  background-position: 86% 190%;
  background-repeat: no-repeat;
  background-size: 485px;
  background-color: var(--primary);
  color: var(--light);
  min-height: 100vh;
}

@media (min-width: 768px) {
  .jumbotron {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../assets/images/banner-rounded-001.svg'),
      url('../assets/images/banner-rounded-002.svg');
    background-position: -3% 103%, 116% 97%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 300px;
    padding: 0;
    margin-top: -1px;
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .jumbotron::after {
    content: '';
    display: block;
    background-image: url('../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: 350px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 15%;
    bottom: -5%;
  }
}

@media (min-width: 576px) {
  .jumbotron .container {
    max-width: 450px;
    margin: 0 115px 25px;
  }
}

.jumbotron .heading,
.jumbotron .subheading {
  display: none;
}

@media (min-width: 576px) {
  .jumbotron .heading {
    display: block;
    font-size: 3rem;
    font-weight: 600;
  }

  .jumbotron .subheading {
    display: block;
    font-size: 0.8rem;
  }
}
/* ---------- End of Header ---------- */

/* ---------- Main ---------- */
/* Content */
.content .text,
.content .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1200px) {
  .content .text .container {
    max-width: 355px;
  }
}

@media (max-width: 576px) {
  .content .image {
    order: 1;
  }

  .content .text {
    order: 2;
  }
}

.content img {
  max-width: 100%;
}

.content .title {
  font-weight: 600;
  color: var(--primary);
}

.content .description {
  font-size: 0.83rem;
  color: var(--dark);
}
/* ---------- End of Main ---------- */

/* ---------- Footer ---------- */
/* ---------- End of Footer ---------- */
