/* Mobile First Design */

@font-face {
  font-family: 'Nunito';
  src: local(Nunito), url('../assets/fonts/Nunito.ttf') format('truetype');
  font-display: swap;
}

:root {
  --cyan: rgb(9, 170, 224);
  --white: rgb(255, 255, 255);
  --pink: rgb(255, 0, 184);
  --red: rgb(254, 3, 2);
  --orange: rgb(255, 200, 55);
  --light-orange: rgb(255, 254, 222);
  --purple: rgb(143, 99, 197);
  --light-purple: rgb(238, 222, 255);
  --blue: rgb(37, 37, 132);
  --light-blue: rgb(172, 172, 198);
  --grey: rgb(221, 221, 221); /* partner */
  --light-grey: rgb(209, 209, 209);
  --light-black: rgb(91, 91, 91);
  --breakpoint-xs: 0px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Nunito, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ---------- Global ---------- */

body {
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container.section {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .header .container,
  .main .container,
  .footer .container {
    max-width: 1040px;
  }
}

/* ---------- Header ---------- */

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 40px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 25px 0;
  }
}

.navbar .container {
  position: relative;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-brand img {
    width: 45px;
  }
}

/* Burger menu */
.navbar-toggler,
.navbar-toggler:focus {
  position: absolute;
  top: 10px;
  right: -5px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  left: calc(50% - 8px);
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  background-color: var(--white);
  width: 28px;
  height: 4px;
  border-radius: 5px;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  top: calc(50% - 8px);
}

.navbar-toggler span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-toggler span:nth-child(3) {
  top: calc(50% + 6px);
}

.navbar-collapse {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .navbar-collapse {
    margin-top: 0;
  }
}

.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link.active {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-link {
  color: var(--white) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--cyan) !important;
}

@media (min-width: 768px) {
  .navbar .nav-link,
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    font-size: 0.9rem;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.search-form {
  display: none;
}

@media (min-width: 992px) {
  .search-form {
    display: block;
    position: absolute;
    right: 0;
  }
}

.search-input {
  position: relative;
  cursor: default;
  border: none;
  padding: 5px 25px 5px 0;
  z-index: 1;
  background-color: transparent;
  color: var(--blue);
}

@media (min-width: 992px) {
  .search-input {
    max-width: 125px;
  }
}

@media (min-width: 1200px) {
  .search-input {
    max-width: 100%;
  }
}

.search-input:focus {
  cursor: auto;
  border-radius: 0;
  border-bottom: 1px solid var(--white);
  box-shadow: none;
  background-color: transparent;
  color: var(--white);
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 13px;
}

/* Jumbotron */
.jumbotron {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--blue);
  background-image: url('../assets/images/mobile-rounded-001.svg');
  background-position: 85% 185%;
  background-repeat: no-repeat;
  background-size: 150%;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url('../assets/images/banner-rounded-001.svg'),
      url('../assets/images/banner-rounded-002.svg');
    background-position: -3% 103%, 116% 97%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 300px;
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .jumbotron::after {
    content: '';
    display: block;
    background-image: url('../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: 350px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 15%;
    bottom: -5%;
  }
}

.jumbotron .content {
  display: none;
}

@media (min-width: 768px) {
  .jumbotron .content {
    display: block;
    max-width: 410px;
  }

  .jumbotron .title {
    font-size: 3rem;
    font-weight: 600;
  }

  .jumbotron .subtitle {
    font-size: 0.8rem;
  }
}

/* ---------- End of Header ---------- */

/* ---------- Main ---------- */

/* Intro */
.intro .image,
.intro .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro img {
  max-width: 100%;
}

.intro .title {
  font-weight: 600;
  color: var(--blue);
}

.intro .description {
  font-size: 0.83rem;
  color: var(--light-blue);
}

/* Testimonial */
.testimonial .icon-wrapper {
  background-color: var(--red);
  box-shadow: var(--red) 0 4px 8px -2px;
}

.testimonial .love-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}

.testimonial .right-wrapper {
  justify-content: flex-end !important;
}

.testimonial .next-button {
  border-radius: 50%;
  background-color: var(--light-purple);
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  box-shadow: none;
}

.testimonial-slider .slick-slider {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .testimonial-slider .slick-slide {
    padding: 0 12px;
  }
}

.testimonial-slider .slick-dots {
  bottom: -35px;
}

.testimonial-slider .slick-dots li button:before {
  font-size: 12px;
  color: var(--light-purple);
  opacity: 1;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  color: var(--blue);
}

.testimonial-slider .card {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.15em 0.2em -0.05em rgba(10, 10, 10, 0.1),
    0 0 0 0.5px rgba(10, 10, 10, 0.02);
  margin-bottom: 10px;
}

.testimonial-slider .card-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.testimonial-slider .card-detail img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonial-slider .card-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-black);
}

.testimonial-slider .card-subtitle {
  font-size: 0.6rem;
  color: var(--light-grey);
}

.testimonial-slider .card-body {
  padding: 0;
}

.testimonial-slider .card-text {
  font-size: 0.8rem;
  padding-bottom: 5px;
}

/* Our People */
.our-people .right-wrapper {
  flex-direction: column;
}

@media (min-width: 768px) {
  .our-people .right-wrapper {
    flex-direction: row;
  }
}

.our-people .icon-wrapper {
  background-color: var(--pink);
  box-shadow: var(--pink) 0 4px 8px -2px;
}

.our-people .happy-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}

.our-people .edit-button,
.our-people .add-button {
  width: 55px;
  height: 25px;
  font-size: 0.7rem;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
}

.our-people .edit-button {
  color: var(--orange);
  background-color: var(--light-orange);
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .our-people .edit-button {
    margin-bottom: 0;
  }
}

.our-people .add-button {
  color: var(--purple);
  background-color: var(--light-purple);
}

.our-people-grid {
  justify-content: center;
}

@media (min-width: 992px) {
  .our-people-grid {
    margin-left: -60px;
    margin-right: -60px;
  }
}

.our-people-grid .item {
  margin: 15px 10px;
}

.our-people-grid .card {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.35em 0.2em -0.05em rgba(10, 10, 10, 0.1),
    0 0 0 0.5px rgba(10, 10, 10, 0.02);
  margin-bottom: 10px;
}

.our-people-grid .card-body {
  text-align: center;
}

.our-people-grid .card-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-black);
}

.our-people-grid .card-subtitle {
  font-size: 0.6rem;
  color: var(--light-grey);
}

/* Partners */
.partners-list .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-list img {
  width: 50px;
  margin: 15px;
}

/* ---------- End of Main ---------- */

/* ---------- Footer ---------- */
/* ---------- End of Footer ---------- */
