/* Mobile First Design */

@font-face {
  font-family: 'Nunito';
  src: local(Nunito), url('../assets/fonts/Nunito.ttf') format('truetype');
  font-display: swap;
}

:root {
  --purple: #252584;
  --light-purple: #eedeff;
  --cyan: #17a2b8;
  --light-black: #000000b5;
  --white: #ffffff;
  --light-grey: #afafc9;
  --red: #fe0202;
  --font-family-sans-serif: Nunito, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- Header ---------- */

/* Reset */
.header .col {
  padding-left: 0;
  padding-right: 0;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 15px;
}

@media (min-width: 576px) {
  .navbar {
    padding: 25px 0;
  }
}

.navbar .container {
  position: relative;
  padding: 0px 18px;
}

@media (min-width: 992px) {
  .navbar .container {
    margin: 0 100px;
    padding: 0;
  }
}

.navbar-brand {
  margin-right: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .navbar-brand img {
    width: 45px;
  }
}

/* Burger menu */
.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 5px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler span {
  background-color: var(--white);
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-toggler span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-toggler span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-collapse {
  margin-top: 35px;
}

@media (min-width: 576px) {
  .navbar-collapse {
    margin-top: 0;
  }
}

.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link.active {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-link {
  color: var(--white) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--cyan) !important;
}

@media (min-width: 992px) {
  .navbar .nav-link,
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    font-size: 0.9rem;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.search-form {
  display: none;
}

@media (min-width: 992px) {
  .search-form {
    display: block;
    position: absolute;
    right: 0;
  }
}

.search-input {
  background-color: transparent;
  border: none;
  padding: 5px 25px 5px 0;
  cursor: default;
  z-index: 1;
  color: var(--purple);
  position: relative;
}

@media (min-width: 992px) {
  .search-input {
    max-width: 125px;
  }
}

@media (min-width: 1200px) {
  .search-input {
    max-width: 100%;
  }
}

.search-input:focus {
  background-color: transparent;
  border-bottom: 1px solid var(--white);
  border-radius: 0;
  box-shadow: none;
  color: var(--white);
  cursor: auto;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 13px;
}

/* Jumbotron */
.jumbotron {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  min-height: 100vh;
  padding: 0;
  background-color: var(--purple);
  background-image: url('../assets/images/mobile-rounded-001.svg');
  background-position: 85% 185%;
  background-repeat: no-repeat;
  background-size: 150%;
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url('../assets/images/banner-rounded-001.svg'),
      url('../assets/images/banner-rounded-002.svg');
    background-position: -3% 103%, 116% 97%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 300px;
    padding: 0;
    margin-top: -1px;
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .jumbotron::after {
    content: '';
    display: block;
    background-image: url('../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: 350px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 15%;
    bottom: -5%;
  }
}

.jumbotron .container {
  display: none;
}

@media (min-width: 992px) {
  .jumbotron .container {
    display: block;
    max-width: 410px;
    margin: 0 100px;
    padding: 0;
  }

  .jumbotron .heading {
    font-size: 3rem;
    font-weight: 600;
  }

  .jumbotron .subheading {
    font-size: 0.8rem;
  }
}

/* ---------- End of Header ---------- */

/* ---------- Main ---------- */

/* Content */
.content .text,
.content .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1200px) {
  .content .text .container {
    max-width: 355px;
  }
}

@media (max-width: 576px) {
  .content .image {
    order: 1;
  }

  .content .text {
    order: 2;
  }
}

.content img {
  max-width: 100%;
}

.content .title {
  font-weight: 600;
  color: var(--purple);
}

.content .description {
  font-size: 0.83rem;
  color: var(--light-grey);
}

/* Testimonial */
.testimonial .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media (min-width: 1200px) {
  .testimonial .container {
    max-width: 1050px;
  }
}

.testimonial .testimonial-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial .icon-wrapper {
  position: relative;
  display: inline-block;
  background-color: var(--red);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--red) 0 4px 8px -2px;
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .testimonial .icon-wrapper {
    margin-right: 25px;
  }
}

.testimonial .love-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}

.testimonial .title {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--purple);
  margin-bottom: 0;
  max-width: 200px;
}

@media (min-width: 1200px) {
  .testimonial .title {
    font-size: 1.2rem;
    max-width: unset;
  }
}

.testimonial .next-button {
  border-radius: 50%;
  background-color: var(--light-purple);
  border: none;
  width: 35px;
  height: 35px;
  outline: none;
  box-shadow: none;
}

@media (min-width: 576px) {
  .testimonial-slider .slick-slide {
    padding: 0 12px;
  }
}

.testimonial-slider .slick-dots {
  bottom: -35px;
}

.testimonial-slider .slick-dots li button:before {
  font-size: 12px;
  color: var(--light-purple);
  opacity: 1;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  color: var(--purple);
}

.testimonial-slider .card {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.15em 0.2em -0.05em rgba(10, 10, 10, 0.1),
    0 0 0 0.5px rgba(10, 10, 10, 0.02);
  margin-bottom: 10px;
}

.testimonial-slider .card-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.testimonial-slider .card-detail img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonial-slider .card-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-black);
}

.testimonial-slider .card-subtitle {
  font-size: 0.6rem;
}

.testimonial-slider .card-body {
  padding: 0;
}

.testimonial-slider .card-text {
  font-size: 0.8rem;
  padding-bottom: 5px;
}

/* ---------- End of Main ---------- */

/* ---------- Footer ---------- */
/* ---------- End of Footer ---------- */
